<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>EMBEBIDOS</title>
</head>
<body>

<h1>SENSORES</h1>
<img src="/static/images/iot.png" alt="user">
<h1>Monitor de sensores:</h1>
<label for="lname">sensor1</label>
<input type="text" id="lname" name="lname"><br><br>
<label for="lname">sensor2</label>
<input type="text" id="lname" name="lname"><br><br>
<button id="mostrar">/Mostrar</button>
<h2>fecha y hora:</h2>
<label for="lname">fecha/hora</label>
<input type="text" id="lname" name="lname"><br><br>
</body>
</html>
